<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ActivitiesMapper">

    <resultMap type="Activities" id="SysActivityResult">
        <id     property="activityId"          column="activity_id"          />
        <result property="activityName"        column="activity_name"        />
        <result property="startTime"           column="start_time"           />
        <result property="endTime"             column="end_time"             />
        <result property="activityLocation"    column="activity_location"    />
        <result property="activityCapacity"    column="activity_capacity"    />
        <result property="activityStart"    column="activity_start"    />
        <result property="activityDeadline"    column="activity_deadline"    />
        <result property="activityDescription" column="activity_description" />
        <result property="organizer"           column="organizer"            />
        <result property="notes"               column="notes"                />
        <result property="activityType"        column="activity_type"        />
        <result property="status"              column="status"               />
        <result property="pictureUrl"          column="picture_url"          />
        <result property="createdAt"           column="created_at"           />
        <result property="activityTotalCapacity"    column="activity_total_capacity"    />
        <result property="version"             column="version"/>
    </resultMap>

    <sql id="selectActivitiesVo">
        select activity_id, activity_name, start_time, end_time, activity_location, activity_capacity,activity_start,
               activity_deadline, activity_description, organizer, notes, activity_type, status, picture_url, created_at, version,activity_total_capacity
        from activities
    </sql>

    <select id="selectActivityList" parameterType="Activities" resultMap="SysActivityResult">
        <include refid="selectActivitiesVo"/>
        <where>
            <if test="activityName != null  and activityName != ''">
                and activity_name like concat('%', #{activityName}, '%')
            </if>
            <choose>
                <when test="startTime != null and endTime != null">
                    and (
                    (start_time &gt;= #{startTime} and start_time &lt;= #{endTime}) OR
                    (end_time &gt;= #{startTime} and end_time &lt;= #{endTime}) OR
                    (start_time &lt;= #{startTime} and end_time &gt;= #{endTime})
                    )
                </when>
                <when test="startTime != null">
                    and start_time &gt;= #{startTime}
                    and start_time &lt; DATE_ADD(#{startTime}, INTERVAL 1 DAY)
                </when>
                <when test="endTime != null">
                    and end_time &lt;= #{endTime}
                </when>
            </choose>
            <if test="activityLocation != null  and activityLocation != ''">
                and activity_location like concat('%', #{activityLocation}, '%')
            </if>
            <if test="organizer != null  and organizer != ''">
                and organizer like concat('%', #{organizer}, '%')
            </if>
            <if test="activityType != null  and activityType != ''">
                and activity_type = #{activityType}
            </if>
            <if test="status != null  and status != ''">
                and status = #{status}
            </if>
        </where>
        ORDER BY
        CASE status
        WHEN '未开始' THEN 1
        WHEN '可报名' THEN 2
        WHEN '已截止' THEN 3
        WHEN '进行中' THEN 4
        WHEN '已结束' THEN 5
        ELSE 6
        END,
        created_at DESC
    </select>

    <select id="selectActivityById" parameterType="Integer" resultMap="SysActivityResult">
        <include refid="selectActivitiesVo"/>
        where activity_id = #{activityId}
    </select>

    <insert id="insertActivity" parameterType="Activities" useGeneratedKeys="true" keyProperty="activityId">
        insert into activities
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="activityName != null">activity_name,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="activityLocation != null">activity_location,</if>
            <if test="activityCapacity != null">activity_capacity,</if>
            <if test="activityStart != null">activity_start,</if>
            <if test="activityDeadline != null">activity_deadline,</if>
            <if test="activityDescription != null">activity_description,</if>
            <if test="organizer != null">organizer,</if>
            <if test="notes != null">notes,</if>
            <if test="activityType != null">activity_type,</if>
            <if test="status != null">status,</if>
            <if test="pictureUrl != null">picture_url,</if>
            <if test="version != null">version,</if>
            <if test="activityTotalCapacity != null">activity_total_capacity,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="activityName != null">#{activityName},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="activityLocation != null">#{activityLocation},</if>
            <if test="activityCapacity != null">#{activityCapacity},</if>
            <if test="activityStart != null">#{activityStart},</if>
            <if test="activityDeadline != null">#{activityDeadline},</if>
            <if test="activityDescription != null">#{activityDescription},</if>
            <if test="organizer != null">#{organizer},</if>
            <if test="notes != null">#{notes},</if>
            <if test="activityType != null">#{activityType},</if>
            <if test="status != null">#{status},</if>
            <if test="pictureUrl != null">#{pictureUrl},</if>
            <if test="version != null">#{version},</if>
            <if test="activityTotalCapacity != null">#{activityTotalCapacity},</if>
        </trim>
    </insert>

    <update id="updateActivity" parameterType="Activities">
        update activities
        <trim prefix="SET" suffixOverrides=",">
            <if test="activityName != null">activity_name = #{activityName},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="activityLocation != null">activity_location = #{activityLocation},</if>
            <if test="activityCapacity != null">activity_capacity = #{activityCapacity},</if>
            <if test="activityStart != null">activity_start = #{activityStart},</if>
            <if test="activityDeadline != null">activity_deadline = #{activityDeadline},</if>
            <if test="activityDescription != null">activity_description = #{activityDescription},</if>
            <if test="organizer != null">organizer = #{organizer},</if>
            <if test="notes != null">notes = #{notes},</if>
            <if test="activityType != null">activity_type = #{activityType},</if>
            <if test="status != null">status = #{status},</if>
            <if test="pictureUrl != null">picture_url = #{pictureUrl},</if>
            <if test="activityTotalCapacity != null">activity_total_capacity = #{activityTotalCapacity},</if>
             version = version + 1,
        </trim>
        where activity_id = #{activityId}
         and version = #{version}
    </update>
    <update id="updateActivity2" parameterType="Activities">
        update activities
        <trim prefix="SET" suffixOverrides=",">
            <if test="activityName != null">activity_name = #{activityName},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="activityLocation != null">activity_location = #{activityLocation},</if>
            <if test="activityCapacity != null">activity_capacity = #{activityCapacity},</if>
            <if test="activityStart != null">activity_start = #{activityStart},</if>
            <if test="activityDeadline != null">activity_deadline = #{activityDeadline},</if>
            <if test="activityDescription != null">activity_description = #{activityDescription},</if>
            <if test="organizer != null">organizer = #{organizer},</if>
            <if test="notes != null">notes = #{notes},</if>
            <if test="activityType != null">activity_type = #{activityType},</if>
            <if test="status != null">status = #{status},</if>
            <if test="pictureUrl != null">picture_url = #{pictureUrl},</if>
            <if test="activityTotalCapacity != null">activity_total_capacity = #{activityTotalCapacity},</if>
        </trim>
        where activity_id = #{activityId}
    </update>

    <delete id="deleteActivityById" parameterType="Integer">
        delete from activities where activity_id = #{activityId}
    </delete>

    <delete id="deleteActivityByIds" parameterType="String">
        delete from activities where activity_id in
        <foreach item="activityId" collection="array" open="(" separator="," close=")">
            #{activityId}
        </foreach>
    </delete>

    <update id="increaseCapacity" parameterType="Integer">
        UPDATE activities
        SET activity_capacity = activity_capacity + 1,
            version = version +1
        WHERE activity_id = #{activityId}
          and version = #{version}
          AND activity_capacity < activity_total_capacity
    </update>

    <update id="decreaseCapacity" parameterType="Integer">
        UPDATE activities
        SET activity_capacity = CASE
                                    WHEN activity_capacity > 0 THEN activity_capacity - 1
                                    ELSE 0
            END,
            version = version +1
        WHERE activity_id = #{activityId}
          and version = #{version}
          AND activity_capacity > 0
    </update>


    <!-- 更新为可报名状态 -->
    <update id="updateStatusToAvailable" parameterType="String">
        <![CDATA[
        UPDATE activities
        SET status = '可报名'
        WHERE status IN ('未开始', '已截止')
          AND #{now} >= activity_start
          AND #{now} <= activity_deadline
        ]]>
    </update>

    <!-- 更新为已截止状态 -->
    <update id="updateStatusToClosed" parameterType="String">
        <![CDATA[
        UPDATE activities
        SET status = '已截止'
        WHERE status IN ('未开始', '可报名')
          AND #{now} > activity_deadline
          AND #{now} < start_time
        ]]>
    </update>

    <!-- 更新为进行中状态 -->
    <update id="updateStatusToOngoing" parameterType="String">
        <![CDATA[
        UPDATE activities
        SET status = '进行中'
        WHERE status IN ('未开始', '可报名', '已截止')
          AND #{now} >= start_time
          AND #{now} <= end_time
        ]]>
    </update>

    <!-- 更新为已结束状态 -->
    <update id="updateStatusToEnded" parameterType="String">
        <![CDATA[
        UPDATE activities
        SET status = '已结束'
        WHERE status != '已结束'
          AND #{now} > end_time
        ]]>
    </update>

    <!-- 查询状态不一致的活动 -->
    <select id="selectInconsistentStatus" resultType="Activities" parameterType="String">
        <![CDATA[
        SELECT * FROM activities
        WHERE status != (
            CASE
                WHEN #{now} < activity_start THEN '未开始'
            WHEN #{now} BETWEEN activity_start AND activity_deadline THEN '可报名'
            WHEN #{now} > activity_deadline AND #{now} < start_time THEN '已截止'
            WHEN #{now} BETWEEN start_time AND end_time THEN '进行中'
            ELSE '已结束'
            END
            )
        ]]>
    </select>

    <!-- 纠正活动状态 -->
    <update id="correctActivityStatus">
        UPDATE activities
        SET status = #{status}
        WHERE activity_id = #{activityId}
    </update>

    <!-- 检查活动名称和组织单位的唯一性 -->
    <select id="checkActivityUnique" resultType="int">
        SELECT COUNT(1)
        FROM activities
        WHERE activity_name = #{activityName}
        AND organizer = #{organizer}
        <if test="activityId != null">
            AND activity_id != #{activityId}
        </if>
    </select>
</mapper>