<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StuActivityRecordMapper">

    <resultMap type="StuActivityRecord" id="StuActivityRecordResult">
        <result property="activityId"    column="activity_id"    />
        <result property="studentId"    column="student_id"    />
        <result property="activityName"    column="activity_name"    />
        <result property="activityLevel"    column="activity_level"    />
        <result property="awardLevel"    column="award_level"    />
        <result property="scholarshipPoints"    column="scholarship_points"    />
        <result property="awardDate"    column="award_date"    />
        <result property="proofMaterial"    column="proof_material"    />
        <result property="semester"    column="semester"    />
        <result property="applyTime"    column="apply_time"    />
        <result property="nickName"    column="nick_name"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="auditTime"    column="audit_time"    />
        <result property="auditRemark"    column="audit_remark"    />
        <result property="studentName"    column="student_name"    />
    </resultMap>

    <sql id="selectStuActivityRecordVo">
        select activity_id, stu_info.student_id, activity_name, activity_level, award_level, scholarship_points, award_date, proof_material, semester, apply_time, nick_name, audit_status, audit_time, audit_remark ,stu_info.student_name from stu_activity_record left join stu_info on stu_activity_record.student_id = stu_info.student_id
    </sql>

    <select id="selectStuActivityRecordList" parameterType="StuActivityRecord" resultMap="StuActivityRecordResult">
        <include refid="selectStuActivityRecordVo"/>
        <where>
            <if test="studentId != null  and studentId != ''"> and stu_info.student_id = #{studentId}</if>
            <if test="studentName != null  and studentName != ''"> and stu_info.student_name = #{studentName}</if>
            <if test="activityName != null  and activityName != ''"> and activity_name like concat('%', #{activityName}, '%')</if>
            <if test="activityLevel != null  and activityLevel != ''"> and activity_level = #{activityLevel}</if>
            <if test="awardLevel != null  and awardLevel != ''"> and award_level = #{awardLevel}</if>
            <if test="scholarshipPoints != null "> and scholarship_points = #{scholarshipPoints}</if>
            <if test="awardDate != null "> and award_date = #{awardDate}</if>
            <if test="proofMaterial != null  and proofMaterial != ''"> and proof_material = #{proofMaterial}</if>
            <if test="semester != null "> and semester = #{semester}</if>
            <if test="applyTime != null "> and apply_time = #{applyTime}</if>
            <if test="nickName != null  and nickName != ''"> and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="auditStatus != null  and auditStatus != ''"> and audit_status = #{auditStatus}</if>
            <if test="auditTime != null "> and audit_time = #{auditTime}</if>
            <if test="auditRemark != null  and auditRemark != ''"> and audit_remark = #{auditRemark}</if>
            <if test="awardDateBegin != null and awardDateBegin != ''">
                AND award_date &gt;= #{awardDateBegin}
            </if>
            <if test="awardDateEnd != null and awardDateEnd != ''">
                AND award_date &lt;= #{awardDateEnd}
            </if>
        </where>
        ORDER BY
        CASE audit_status
        WHEN '未提交' THEN 0    -- 未审核排最前
        WHEN '未通过' THEN 1    -- 未审核排最前
        WHEN '未审核' THEN 2    -- 未通过其次
        WHEN '已通过' THEN 3    -- 已通过最后
        ELSE 4                 -- 其他状态（如果有）
        END,
        apply_time DESC            -- 按提交时间倒序
    </select>

    <select id="selectAuditActivityRecordList" parameterType="StuActivityRecord" resultMap="StuActivityRecordResult">
        <include refid="selectStuActivityRecordVo"/>
        <where>
            and audit_status != '未提交'
            <if test="studentId != null  and studentId != ''"> and student_id = #{studentId}</if>
            <if test="activityName != null  and activityName != ''"> and activity_name like concat('%', #{activityName}, '%')</if>
            <if test="activityLevel != null  and activityLevel != ''"> and activity_level = #{activityLevel}</if>
            <if test="awardLevel != null  and awardLevel != ''"> and award_level = #{awardLevel}</if>
            <if test="scholarshipPoints != null "> and scholarship_points = #{scholarshipPoints}</if>
            <if test="awardDate != null "> and award_date = #{awardDate}</if>
            <if test="proofMaterial != null  and proofMaterial != ''"> and proof_material = #{proofMaterial}</if>
            <if test="semester != null "> and semester = #{semester}</if>
            <if test="applyTime != null "> and apply_time = #{applyTime}</if>
            <if test="nickName != null  and nickName != ''"> and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="auditStatus != null  and auditStatus != ''"> and audit_status = #{auditStatus}</if>
            <if test="auditTime != null "> and audit_time = #{auditTime}</if>
            <if test="auditRemark != null  and auditRemark != ''"> and audit_remark = #{auditRemark}</if>
            <if test="awardDateBegin != null and awardDateBegin != ''">
                AND award_date &gt;= #{awardDateBegin}
            </if>
            <if test="awardDateEnd != null and awardDateEnd != ''">
                AND award_date &lt;= #{awardDateEnd}
            </if>
        </where>
        ORDER BY
        CASE audit_status
        WHEN '未审核' THEN 0    -- 未审核排最前
        WHEN '未通过' THEN 1    -- 未通过其次
        WHEN '已通过' THEN 2    -- 已通过最后
        ELSE 3                 -- 其他状态（如果有）
        END,
        apply_time DESC            -- 按提交时间倒序
    </select>

    <select id="selectStuActivityRecordByActivityId" parameterType="Integer" resultMap="StuActivityRecordResult">
        <include refid="selectStuActivityRecordVo"/>
        where activity_id = #{activityId}
    </select>

    <insert id="insertStuActivityRecord" parameterType="StuActivityRecord" useGeneratedKeys="true" keyProperty="activityId">
        insert into stu_activity_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId != null and studentId != ''">student_id,</if>
            <if test="activityName != null and activityName != ''">activity_name,</if>
            <if test="activityLevel != null and activityLevel != ''">activity_level,</if>
            <if test="awardLevel != null and awardLevel != ''">award_level,</if>
            <if test="scholarshipPoints != null">scholarship_points,</if>
            <if test="awardDate != null">award_date,</if>
            <if test="proofMaterial != null and proofMaterial != ''">proof_material,</if>
            <if test="semester != null">semester,</if>
            <if test="applyTime != null">apply_time,</if>
            <if test="nickName != null">nick_name,</if>
            <if test="auditStatus != null">audit_status,</if>
            <if test="auditTime != null">audit_time,</if>
            <if test="auditRemark != null">audit_remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentId != null and studentId != ''">#{studentId},</if>
            <if test="activityName != null and activityName != ''">#{activityName},</if>
            <if test="activityLevel != null and activityLevel != ''">#{activityLevel},</if>
            <if test="awardLevel != null and awardLevel != ''">#{awardLevel},</if>
            <if test="scholarshipPoints != null">#{scholarshipPoints},</if>
            <if test="awardDate != null">#{awardDate},</if>
            <if test="proofMaterial != null and proofMaterial != ''">#{proofMaterial},</if>
            <if test="semester != null">#{semester},</if>
            <if test="applyTime != null">#{applyTime},</if>
            <if test="nickName != null">#{nickName},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="auditRemark != null">#{auditRemark},</if>
        </trim>
    </insert>

    <update id="updateStuActivityRecord" parameterType="StuActivityRecord">
        update stu_activity_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentId != null and studentId != ''">student_id = #{studentId},</if>
            <if test="activityName != null and activityName != ''">activity_name = #{activityName},</if>
            <if test="activityLevel != null and activityLevel != ''">activity_level = #{activityLevel},</if>
            <if test="awardLevel != null and awardLevel != ''">award_level = #{awardLevel},</if>
            <if test="scholarshipPoints != null">scholarship_points = #{scholarshipPoints},</if>
            <if test="awardDate != null">award_date = #{awardDate},</if>
            <if test="proofMaterial != null and proofMaterial != ''">proof_material = #{proofMaterial},</if>
            <if test="semester != null">semester = #{semester},</if>
            <if test="applyTime != null">apply_time = #{applyTime},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            audit_time = #{auditTime},
<!--            <if test="auditTime != null">audit_time = #{auditTime},</if>-->
            <if test="auditRemark != null">audit_remark = #{auditRemark},</if>
        </trim>
        where activity_id = #{activityId}
    </update>

    <delete id="deleteStuActivityRecordByActivityId" parameterType="Integer">
        delete from stu_activity_record where activity_id = #{activityId}
    </delete>

    <delete id="deleteStuActivityRecordByActivityIds" parameterType="String">
        delete from stu_activity_record where activity_id in
        <foreach item="activityId" collection="array" open="(" separator="," close=")">
            #{activityId}
        </foreach>
    </delete>

    <select id="existsByUniqueFields" resultType="boolean">
        SELECT COUNT(1)
        FROM stu_activity_record
        WHERE
            student_id = #{studentId} AND
            activity_name = #{activityName} AND
            activity_level = #{activityLevel} AND
            award_level = #{awardLevel} AND
            semester = #{semester}
            LIMIT 1
    </select>
</mapper>