<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StuCompetitionRecordMapper">

    <insert id="insertStuCompetitionRecord" parameterType="com.ruoyi.system.domain.dto.StuCompetitionRecord">
        INSERT INTO stu_competition_record
        (student_id,
         competition_name,
         competition_level,
         award_level,
         scholarship_points,
         award_date,
         audit_status,
         apply_time,
         nick_name,
         audit_time,
         audit_remark,
         semester,
         proof_material)
        VALUES (#{studentId},
                #{competitionName},
                #{competitionLevel},
                #{awardLevel},
                #{scholarshipPoints},
                #{awardDate},
                #{auditStatus},
                #{applyTime},
                #{nickName},
                #{auditTime},
                #{auditRemark},
                #{semester},
                #{proofMaterial,jdbcType=VARCHAR})
    </insert>
    <select id="getAllCompetitionRecords" resultType="com.ruoyi.system.domain.dto.StuCompetitionRecord"
            parameterType="com.ruoyi.system.domain.dto.StuCompetitionRecord">
        SELECT
        competition_id AS id,
        competition_name,
        student_id,
        award_date,
        semester,
        competition_level,
        award_level,
        proof_material, <!-- 图片路径 -->
        audit_status,
        audit_time,
        audit_remark
        FROM
        stu_competition_record
        <where>
            <!-- 按学号查询 -->
            <if test="studentId != null and studentId != ''">
                AND student_id = #{studentId}
            </if>
            <!-- 按竞赛名称模糊查询 -->
            <if test="competitionName != null and competitionName != ''">
                AND competition_name LIKE CONCAT('%', #{competitionName}, '%')
            </if>
            <!-- 按获奖日期查询 -->
            <if test="awardDate != null">
                AND award_date = #{awardDate}
            </if>
            <!-- 按学期查询 -->
            <if test="semester != null and semester != ''">
                AND semester = #{semester}
            </if>
            <!-- 按竞赛级别查询 -->
            <if test="competitionLevel != null and competitionLevel != ''">
                AND competition_level = #{competitionLevel}
            </if>
            <!-- 按奖项级别查询 -->
            <if test="awardLevel != null and awardLevel != ''">
                AND award_level = #{awardLevel}
            </if>
            <!-- 按审核状态查询 -->
            <if test="auditStatus != null and auditStatus != ''">
                AND audit_status = #{auditStatus}
            </if>
        </where>
        ORDER BY award_date DESC
    </select>


</mapper>