<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StuCompetitionRecordMapper">

    <insert id="insertStuCompetitionRecord" parameterType="com.ruoyi.system.domain.dto.StuCompetitionRecord">
        INSERT INTO stu_competition_record
        (student_id,
         competition_name,
         competition_level,
         award_level,
         scholarship_points,
         award_date,
         proof_material,
         audit_status,
         apply_time,
         nick_name,
         audit_time,
         audit_remark,
         semester)
        VALUES (#{studentId},
                #{competitionName},
                #{competitionLevel},
                #{awardLevel},
                #{scholarshipPoints},
                #{awardDate},
                #{proofMaterial},
                #{auditStatus},
                #{applyTime},
                #{nickName},
                #{auditTime},
                #{auditRemark},
                #{semester})
    </insert>
    <select id="getAllCompetitionRecords" resultType="com.ruoyi.system.domain.dto.StuCompetitionRecord"
            parameterType="com.ruoyi.system.domain.dto.StuCompetitionRecord">
        SELECT
        competition_id AS id,
        competition_name,    -- 竞赛名称
        student_id,         -- 学号
        award_date,  -- 获奖日期
        semester, -- 学期
        competition_level,  -- 竞赛级别
        award_level,        -- 奖项级别
        proof_material,     -- 证明材料
        audit_status,       -- 审核状态
        audit_time,         -- 审核时间
        audit_remark        -- 审核备注
        FROM
        stu_competition_record
        <where>
            <if test="competitionName != null and competitionName != ''">
                AND competition_name LIKE CONCAT('%', #{competitionName}, '%')
            </if>
            <if test="studentId != null and studentId != ''">
                AND student_id = #{studentId}
            </if>
            <if test="awardDate != null and awardDate != ''">
                AND award_date = #{awardDate}
            </if>
        </where>
    </select>


</mapper>
