<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StuCourseMapper">

    <resultMap type="StuCourse" id="StuCourseResult">
        <result property="courseId"    column="course_id"    />
        <result property="courseCode"    column="course_code"    />
        <result property="courseName"    column="course_name"    />
        <result property="credit"    column="credit"    />
        <result property="courseCategory"    column="course_category"    />
        <result property="teacherName"    column="teacher_name"    />
        <result property="academy"    column="academy"    />
        <result property="courseHours"    column="course_hours"    />
    </resultMap>

    <sql id="selectStuCourseVo">
        select course_id, course_code, course_name, credit, course_category, teacher_name, academy, course_hours from stu_course
    </sql>

    <select id="selectStuCourseList" parameterType="StuCourse" resultMap="StuCourseResult">
        <include refid="selectStuCourseVo"/>
        <where>
            <if test="courseCode != null  and courseCode != ''"> and course_code = #{courseCode}</if>
            <if test="courseName != null  and courseName != ''"> and course_name like concat('%', #{courseName}, '%')</if>
            <if test="credit != null "> and credit = #{credit}</if>
            <if test="courseCategory != null  and courseCategory != ''"> and course_category = #{courseCategory}</if>
            <if test="teacherName != null  and teacherName != ''"> and teacher_name like concat('%', #{teacherName}, '%')</if>
            <if test="academy != null  and academy != ''"> and academy = #{academy}</if>
            <if test="courseHours != null "> and course_hours = #{courseHours}</if>
        </where>
    </select>

    <select id="selectStuCourseByCourseId" parameterType="Long" resultMap="StuCourseResult">
        <include refid="selectStuCourseVo"/>
        where course_id = #{courseId}
    </select>

    <insert id="insertStuCourse" parameterType="StuCourse" useGeneratedKeys="true" keyProperty="courseId">
        insert into stu_course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courseCode != null and courseCode != ''">course_code,</if>
            <if test="courseName != null and courseName != ''">course_name,</if>
            <if test="credit != null">credit,</if>
            <if test="courseCategory != null and courseCategory != ''">course_category,</if>
            <if test="teacherName != null and teacherName != ''">teacher_name,</if>
            <if test="academy != null">academy,</if>
            <if test="courseHours != null">course_hours,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="courseCode != null and courseCode != ''">#{courseCode},</if>
            <if test="courseName != null and courseName != ''">#{courseName},</if>
            <if test="credit != null">#{credit},</if>
            <if test="courseCategory != null and courseCategory != ''">#{courseCategory},</if>
            <if test="teacherName != null and teacherName != ''">#{teacherName},</if>
            <if test="academy != null">#{academy},</if>
            <if test="courseHours != null">#{courseHours},</if>
        </trim>
    </insert>

    <update id="updateStuCourse" parameterType="StuCourse">
        update stu_course
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseCode != null and courseCode != ''">course_code = #{courseCode},</if>
            <if test="courseName != null and courseName != ''">course_name = #{courseName},</if>
            <if test="credit != null">credit = #{credit},</if>
            <if test="courseCategory != null and courseCategory != ''">course_category = #{courseCategory},</if>
            <if test="teacherName != null and teacherName != ''">teacher_name = #{teacherName},</if>
            <if test="academy != null">academy = #{academy},</if>
            <if test="courseHours != null">course_hours = #{courseHours},</if>
        </trim>
        where course_id = #{courseId}
    </update>

    <delete id="deleteStuCourseByCourseId" parameterType="Long">
        delete from stu_course where course_id = #{courseId}
    </delete>

    <delete id="deleteStuCourseByCourseIds" parameterType="String">
        delete from stu_course where course_id in
        <foreach item="courseId" collection="array" open="(" separator="," close=")">
            #{courseId}
        </foreach>
    </delete>

    <select id="selectStuCourseByCourseCode" parameterType="String" resultMap="StuCourseResult">
        <include refid="selectStuCourseVo"/>
        where course_code = #{courseCode}
    </select>

</mapper>