<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StuCourseInfoMapper">

    <sql id="selectFields">
        course_code, course_name, credit, course_category,
        teacher_name, academy, course_hours, is_active
    </sql>

    <insert id="insertStuCourseInfo" parameterType="StuCourseInfo">
        INSERT INTO stu_course_info (
            course_code, course_name, credit,
            course_category, teacher_name,
            academy, course_hours
        ) VALUES (
                     #{courseCode}, #{courseName}, #{credit},
                     #{courseCategory}, #{teacherName},
                     #{academy}, #{courseHours}
                 )
    </insert>

    <update id="updateStuCourseInfo" parameterType="StuCourseInfo">
        UPDATE stu_course_info
        <set>
            <if test="courseName != null">course_name = #{courseName},</if>
            <if test="credit != null">credit = #{credit},</if>
            <if test="courseCategory != null">course_category = #{courseCategory},</if>
            <if test="teacherName != null">teacher_name = #{teacherName},</if>
            <if test="academy != null">academy = #{academy},</if>
            <if test="courseHours != null">course_hours = #{courseHours},</if>
            <if test="isActive != null">is_active = #{isActive},</if>
        </set>
        WHERE course_code = #{courseCode}
    </update>

    <delete id="deleteStuCourseInfoByCode" parameterType="String">
        DELETE FROM stu_course_info
        WHERE course_code = #{courseCode}
    </delete>

    <select id="selectStuCourseInfoByCode" parameterType="String" resultType="StuCourseInfo">
        SELECT <include refid="selectFields"/>
        FROM stu_course_info
        WHERE course_code = #{courseCode}
    </select>

    <select id="selectStuCourseInfoList" parameterType="StuCourseInfo" resultType="StuCourseInfo">
        SELECT
        <include refid="selectFields"/>
        FROM stu_course_info
        <where>
            <if test="courseCode != null and courseCode != ''">
                AND course_code LIKE CONCAT('%', #{courseCode}, '%')
            </if>
            <if test="courseName != null and courseName != ''">
                AND course_name LIKE CONCAT('%', #{courseName}, '%')
            </if>
            <if test="courseCategory != null and courseCategory != ''">
                AND course_category = #{courseCategory}
            </if>
            <if test="teacherName != null and teacherName != ''">
                AND teacher_name LIKE CONCAT('%', #{teacherName}, '%')
            </if>
            <if test="academy != null and academy != ''">
                AND academy = #{academy}
            </if>
            <if test="isActive != null">
                AND is_active = #{isActive}
            </if>
            <if test="credit != null">
                AND credit = #{credit}
            </if>

        </where>
        ORDER BY course_code ASC
    </select>
</mapper>
