<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StudentInformationMapper">
    <insert id="multipleInsertStudent" parameterType="java.util.List">
        <!-- 向 sys_role_dept 表插入角色和部门的关联 -->
        insert into student (学号, 姓名, 管理部门, 系统内专业, 招生录取专业, 行政班, 备注, 分流形式, 国家和高校专项计划学生标志, 英文姓名, 性别, password)
        values
        <foreach collection="list" item="student" separator=",">
            (#{student.studentId}, #{student.studentName}, #{student.studentAddress}, #{student.systemMajor}, #{student.enrollmentMajor}, #{student.studentClass},
             #{student.studentNote}, #{student.studentDiversionForm}, #{student.haveQualification}, #{student.englishName}, #{student.studentSex}, #{student.password})
        </foreach>
    </insert>
</mapper>