<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StuInfoMapper">

    <resultMap type="StuInfo" id="StuInfoResult">
        <result property="id"    column="id"    />
        <result property="studentId"    column="student_id"    />
        <result property="studentName"    column="student_name"    />
        <result property="enrollmentYear"    column="enrollment_year"    />
        <result property="academy"    column="academy"    />
        <result property="originalSystemMajor"    column="original_system_major"    />
        <result property="major"    column="major"    />
        <result property="systemMajor"    column="system_major"    />
        <result property="studentClass"    column="student_class"    />
        <result property="divertForm"    column="divert_form"    />
        <result property="innovationClass"    column="innovation_class"    />
        <result property="policyStatus"    column="policy_status"    />
        <result property="studentSex"    column="student_sex"    />
    </resultMap>
    <resultMap type="StuInfoDTO" id="StuInfoResult2">
        <result property="academy"    column="academy"    />
        <result property="studentNum"    column="student_count"    />
    </resultMap>
    <sql id="selectStuInfoVo">
        select id, student_id, student_name, enrollment_year, academy, original_system_major, major, system_major, student_class, divert_form, innovation_class, policy_status, student_sex from stu_info
    </sql>
    <select id="getAcademyNum" resultMap="StuInfoResult2">
        SELECT
        academy AS academy,
        COUNT(*) AS student_count  <!-- 别名必须与 Mapper 中的字段名匹配 -->
        FROM stu_info
        WHERE academy IS NOT NULL
        GROUP BY academy
    </select>
    <select id="selectStuInfoList" parameterType="StuInfo" resultMap="StuInfoResult">
        <include refid="selectStuInfoVo"/>
        <where>
            <if test="studentId != null  and studentId != ''"> and student_id like concat('%', #{studentId}, '%')</if>
            <if test="studentName != null  and studentName != ''"> and student_name like concat('%', #{studentName}, '%')</if>
            <if test="enrollmentYear != null  and enrollmentYear != ''"> and enrollment_year = #{enrollmentYear}</if>
            <if test="academy != null  and academy != ''"> and academy = #{academy}</if>
            <if test="originalSystemMajor != null  and originalSystemMajor != ''"> and original_system_major = #{originalSystemMajor}</if>
            <if test="major != null  and major != ''"> and major = #{major}</if>
            <if test="systemMajor != null  and systemMajor != ''"> and system_major = #{systemMajor}</if>
            <if test="studentClass != null  and studentClass != ''"> and student_class = #{studentClass}</if>
            <if test="divertForm != null  and divertForm != ''"> and divert_form = #{divertForm}</if>
            <if test="innovationClass != null "> and innovation_class = #{innovationClass}</if>
            <if test="policyStatus != null "> and policy_status = #{policyStatus}</if>
            <if test="studentSex != null  and studentSex != ''"> and student_sex = #{studentSex}</if>
        </where>
        ORDER BY enrollment_year DESC, student_id ASC
    </select>

    <select id="selectStuInfoById" parameterType="String" resultMap="StuInfoResult">
        <include refid="selectStuInfoVo"/>
        where student_id = #{studentId}
    </select>

    <select id="selectStuInfoByPrimaryId" parameterType="Long" resultMap="StuInfoResult">
        <include refid="selectStuInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertStuInfo" parameterType="StuInfo" useGeneratedKeys="true" keyProperty="id">
        insert into stu_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId != null and studentId != ''">student_id,</if>
            <if test="studentName != null and studentName != ''">student_name,</if>
            <if test="enrollmentYear != null and enrollmentYear != ''">enrollment_year,</if>
            <if test="academy != null and academy != ''">academy,</if>
            <if test="originalSystemMajor != null">original_system_major,</if>
            <if test="major != null">major,</if>
            <if test="systemMajor != null">system_major,</if>
            <if test="studentClass != null">student_class,</if>
            <if test="divertForm != null">divert_form,</if>
            <if test="innovationClass != null">innovation_class,</if>
            <if test="policyStatus != null">policy_status,</if>
            <if test="studentSex != null">student_sex,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentId != null and studentId != ''">#{studentId},</if>
            <if test="studentName != null and studentName != ''">#{studentName},</if>
            <if test="enrollmentYear != null and enrollmentYear != ''">#{enrollmentYear},</if>
            <if test="academy != null and academy != ''">#{academy},</if>
            <if test="originalSystemMajor != null">#{originalSystemMajor},</if>
            <if test="major != null">#{major},</if>
            <if test="systemMajor != null">#{systemMajor},</if>
            <if test="studentClass != null">#{studentClass},</if>
            <if test="divertForm != null">#{divertForm},</if>
            <if test="innovationClass != null">#{innovationClass},</if>
            <if test="policyStatus != null">#{policyStatus},</if>
            <if test="studentSex != null">#{studentSex},</if>
        </trim>
    </insert>

    <update id="updateStuInfo" parameterType="StuInfo">
        update stu_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentId != null and studentId != ''">student_id = #{studentId},</if>
            <if test="studentName != null and studentName != ''">student_name = #{studentName},</if>
            <if test="enrollmentYear != null and enrollmentYear != ''">enrollment_year = #{enrollmentYear},</if>
            <if test="academy != null and academy != ''">academy = #{academy},</if>
            <if test="originalSystemMajor != null">original_system_major = #{originalSystemMajor},</if>
            <if test="major != null">major = #{major},</if>
            <if test="systemMajor != null">system_major = #{systemMajor},</if>
            <if test="studentClass != null">student_class = #{studentClass},</if>
            <if test="divertForm != null">divert_form = #{divertForm},</if>
            <if test="innovationClass != null">innovation_class = #{innovationClass},</if>
            <if test="policyStatus != null">policy_status = #{policyStatus},</if>
            <if test="studentSex != null">student_sex = #{studentSex},</if>
            <if test="changeMajorType != null">change_major_type = #{changeMajorType},</if>
        </trim>
        where student_id = #{studentId}
    </update>

    <delete id="deleteStuInfoById" parameterType="Long">
        delete from stu_info where id = #{id}
    </delete>

    <delete id="deleteStuInfoByIds" parameterType="Long">
        delete from stu_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="getStudentChangeMajorInfo" parameterType="StuInfo" resultMap="StuInfoResult">
        SELECT student_id, student_name, academy, original_system_major, system_major, change_major_type
        FROM stu_info
        <where>
            <if test="studentId != null and studentId != ''">AND student_id = #{studentId}</if>
            <if test="studentName != null and studentName != ''">AND student_name LIKE CONCAT('%', #{studentName}, '%')</if>
            <if test="academy != null and academy != ''">AND academy = #{academy}</if>
            <if test="originalSystemMajor != null and originalSystemMajor != ''">AND original_system_major = #{originalSystemMajor}</if>
            <if test="systemMajor != null and systemMajor != ''">AND system_major = #{systemMajor}</if>
            <if test="changeMajorType != null and changeMajorType != ''">AND change_major_type = #{changeMajorType}</if>
        </where>
        ORDER BY enrollment_year DESC, student_id ASC
    </select>

</mapper>