<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StuLectureReportMapper">
    <insert id="insertStuLectureInformation">
        INSERT INTO stu_lec_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reportTitle != null and reportTitle != ''">report_title,</if>
            <if test="reporter != null and reporter != ''">reporter,</if>
            <if test="reportDate != null">report_date,</if>
            <if test="reportContent != null and reportContent != ''">report_content,</if>
            <if test="reportLocation != null and reportLocation != ''">report_location,</if>
            <if test="reportLink != null and reportLink != ''">report_link,</if>
            <if test="reportFeeling != null and reportFeeling != ''">report_feeling,</if>
            <if test="lecturePoster != null and lecturePoster != ''">lecture_poster,</if>
            <if test="reportPicture != null and reportPicture != ''">report_picture,</if>
            <if test="auditStatus != null">audit_status,</if>
            <if test="studentId != null">student_id,</if>
            <if test="studentName != null and studentName != ''">student_name,</if>
            <if test="reportAdmitTime != null">report_admit_time,</if>
            <if test="semester != null and semester != ''">semester,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reportTitle != null and reportTitle != ''">#{reportTitle},</if>
            <if test="reporter != null and reporter != ''">#{reporter},</if>
            <if test="reportDate != null">#{reportDate},</if>
            <if test="reportContent != null and reportContent != ''">#{reportContent},</if>
            <if test="reportLocation != null and reportLocation != ''">#{reportLocation},</if>
            <if test="reportLink != null and reportLink != ''">#{reportLink},</if>
            <if test="reportFeeling != null and reportFeeling != ''">#{reportFeeling},</if>
            <if test="lecturePoster != null and lecturePoster != ''">#{lecturePoster},</if>
            <if test="reportPicture != null and reportPicture != ''">#{reportPicture},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="studentId != null">#{studentId},</if>
            <if test="studentName != null and studentName != ''">#{studentName},</if>
            <if test="reportAdmitTime != null">#{reportAdmitTime},</if>
            <if test="semester != null and semester != ''">#{semester},</if>
        </trim>
    </insert>

    <select id="getAllLectureReportRecords" resultType="com.ruoyi.system.domain.StuLectureReport">
        SELECT * FROM stu_lec_report
        <where>
            <if test="studentId != null and studentId != ''">
                AND student_id = #{studentId}
            </if>
            <if test="semester != null and semester != ''">
                AND semester = #{semester}
            </if>
        </where>
        ORDER BY
        CASE audit_status
        WHEN 3 THEN 0    -- 未审核排最前
        WHEN 1 THEN 1    -- 未审核排最前
        WHEN 0 THEN 2    -- 未通过其次
        WHEN 2 THEN 3    -- 已通过最后
        ELSE 4                 -- 其他状态（如果有）
        END,
        report_date ASC
    </select>

    <select id="selectStuLecReportList" resultType="com.ruoyi.system.domain.StuLectureReport">
        SELECT * FROM stu_lec_report
        <where>
            <if test="studentId != null  and studentId != ''"> and student_id = #{studentId}</if>
            <if test="studentName != null  and studentName != ''"> and student_name like concat('%', #{studentName}, '%')</if>
            <if test="reportTitle != null  and reportTitle != ''"> and report_title = #{reportTitle}</if>
            <if test="reporter != null  and reporter != ''"> and reporter = #{reporter}</if>
            <if test="reportDate != null "> and report_date = #{reportDate}</if>
            <if test="reportLocation != null  and reportLocation != ''"> and report_location = #{reportLocation}</if>
            <if test="reportContent != null  and reportContent != ''"> and report_content = #{reportContent}</if>
            <if test="reportLink != null  and reportLink != ''"> and report_link = #{reportLink}</if>
            <if test="reportFeeling != null  and reportFeeling != ''"> and report_feeling = #{reportFeeling}</if>
            <if test="lecturePoster != null  and lecturePoster != ''"> and lecture_poster = #{lecturePoster}</if>
            <if test="reportPicture != null  and reportPicture != ''"> and report_picture = #{reportPicture}</if>
            <if test="reportAdmitTime != null "> and report_admit_time = #{reportAdmitTime}</if>
            <if test="auditStatus != null "> and audit_status = #{auditStatus}</if>
            <if test="auditTime != null "> and audit_time = #{auditTime}</if>
            <if test="auditRemark != null  and auditRemark != ''"> and audit_remark = #{auditRemark}</if>
            <if test="semester != null "> and semester = #{semester}</if>
            and audit_status != 3
        </where>
        ORDER BY
        CASE audit_status
        WHEN 0 THEN 0    -- 未审核排最前
        WHEN 2 THEN 1    -- 未通过其次
        WHEN 1 THEN 2    -- 已通过最后
        ELSE 3
        END,
        report_date ASC
    </select>

    <update id="updateStuLectureInformation">
        UPDATE stu_lec_report
        <trim prefix="SET" suffixOverrides=",">
            <if test="reportTitle != null and reportTitle != ''"> report_title = #{reportTitle},</if>
            <if test="reporter != null and reporter != ''">reporter = #{reporter},</if>
            <if test="reportDate != null">report_date = #{reportDate},</if>
            <if test="reportContent != null and reportContent != ''">report_content = #{reportContent},</if>
            <if test="reportLocation != null  and reportLocation != ''"> report_location = #{reportLocation},</if>
            <if test="reportLink != null and reportLink != ''">report_link = #{reportLink},</if>
            <if test="reportFeeling != null and reportFeeling != ''">report_feeling = #{reportFeeling},</if>
            <if test="lecturePoster != null and lecturePoster != ''">lecture_poster = #{lecturePoster},</if>
            <if test="reportPicture != null and reportPicture != ''">report_picture = #{reportPicture},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            audit_time = #{auditTime},
            audit_remark = #{auditRemark},
            <if test="reportAdmitTime != null">report_admit_time = #{reportAdmitTime},</if>
        </trim>
        where report_id = #{reportId}
    </update>

    <delete id="deleteStuLectureReportByReportIds" parameterType="String">
        delete from stu_lec_report where report_id in
        <foreach item="reportId" collection="array" open="(" separator="," close=")">
            #{reportId}
        </foreach>
    </delete>
</mapper>
