<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StuMajorMapper">
    <resultMap type="StuMajor" id="StuMajorResult">
        <id     property="majorId"     column="major_id" />
        <result property="academy"     column="academy" />
        <result property="type"        column="type" />
        <result property="parentId"    column="parent_id" />
    </resultMap>

    <resultMap type="MajorStatistic" id="MajorStatisticResult">
        <id property="subMajorId" column="sub_major_id"/>
        <result property="subMajorName" column="sub_major_name"/>
        <result property="intraClassCount" column="intra_class_count"/>
        <result property="intraDomainCount" column="intra_domain_count"/>
    </resultMap>

    <select id="selectByAcademyAndType" resultMap="StuMajorResult">
        SELECT *
        FROM stu_major
        WHERE type= #{type} AND major_id IN (
            SELECT major_id
            FROM stu_major
            WHERE major_name = #{major}
              AND academy = #{academy}
              AND type = #{type}
        )
           OR parent_id IN (
            SELECT major_id
            FROM stu_major
            WHERE major_name = #{major}
              AND academy = #{academy}
              AND type = #{type}
        );
    </select>

    <select id="selectChildrenByParentId" resultMap="StuMajorResult">
        SELECT * FROM stu_major
        WHERE parent_id = #{parentId}
    </select>

    <select id="selectMajorStatistics" resultMap="MajorStatisticResult">
        SELECT
            sm.major_id AS sub_major_id,
            sm.major_name AS sub_major_name,
            COUNT(
                    CASE WHEN si.divert_form = '可类内任选，并转专业'
                        AND sm.major_name = si.system_major  -- 明确关联条件
                             THEN 1 END
            ) AS intra_class_count,
            COUNT(
                    CASE WHEN si.divert_form = '可域内任选，并转专业'
                        AND sm.major_name = si.original_system_major  -- 明确关联条件
                             THEN 1 END
            ) AS intra_domain_count
        FROM stu_major sm
                 LEFT JOIN stu_info si
                           ON (sm.major_name = si.system_major AND si.divert_form = '可类内任选，并转专业')
                               OR (sm.major_name = si.original_system_major AND si.divert_form = '可域内任选，并转专业')
        WHERE sm.parent_id = #{parentId}
        GROUP BY sm.major_id, sm.major_name
    </select>

</mapper>