<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StuMentorshipRecordMapper">

    <resultMap type="StuMentorshipRecord" id="StuMentorshipRecordResult">
        <result property="recordId"    column="record_id"    />
        <result property="studentId"    column="student_id"    />
        <result property="guidanceTopic"    column="guidance_topic"    />
        <result property="guidanceLocation"    column="guidance_location"    />
        <result property="guidanceTime"    column="guidance_time"    />
        <result property="summaryFilePath"    column="summary_file_path"    />
        <result property="photoPaths"    column="photo_paths"    />
        <result property="semester"    column="semester"    />
        <result property="submitTime"    column="submit_time"    />
        <result property="studentComment"    column="student_comment"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="auditTime"    column="audit_time"    />
        <result property="auditRemark"    column="audit_remark"    />
    </resultMap>

    <resultMap type="StuMentorshipRecord" id="StuMentorshipRecordResult2">
        <result property="recordId"    column="record_id"    />
        <result property="studentId"    column="student_id"    />
        <result property="tutorId"    column="tutor_id"    />
        <result property="tutorName"    column="tutor_name"    />
        <result property="guidanceTopic"    column="guidance_topic"    />
        <result property="guidanceLocation"    column="guidance_location"    />
        <result property="guidanceTime"    column="guidance_time"    />
        <result property="summaryFilePath"    column="summary_file_path"    />
        <result property="photoPaths"    column="photo_paths"    />
        <result property="semester"    column="semester"    />
        <result property="submitTime"    column="submit_time"    />
        <result property="studentComment"    column="student_comment"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="auditTime"    column="audit_time"    />
        <result property="auditRemark"    column="audit_remark"    />
    </resultMap>

    <sql id="selectStuMentorshipRecordVo">
        select record_id, student_id, guidance_topic, guidance_location, guidance_time, summary_file_path, photo_paths, semester, submit_time, student_comment, audit_status, audit_time, audit_remark from stu_mentorship_record
    </sql>

    <select id="selectStuMentorshipRecordList" parameterType="StuMentorshipRecord" resultMap="StuMentorshipRecordResult2">
        SELECT
        smr.*,
        si.student_name,
        t.tutor_name,
        t.tutor_id
        FROM
        stu_mentorship_record smr
        LEFT JOIN
        stu_info si ON smr.student_id = si.student_id
        LEFT JOIN
        stu_mentor_info smi ON smr.student_id = smi.student_id
        LEFT JOIN
        tutors t ON smi.tutor_id = t.tutor_id
        <where>
            <if test="studentId != null and studentId != ''">AND si.student_id = #{studentId}</if>
            <if test="studentName != null and studentName != ''">AND si.student_Name = #{studentName}</if>
            <if test="tutorId != null and tutorId != ''">AND t.tutor_id = #{tutorId}</if>
            <if test="guidanceTopic != null and guidanceTopic != ''">AND smr.guidance_topic = #{guidanceTopic}</if>
            <if test="guidanceLocation != null and guidanceLocation != ''">AND smr.guidance_location = #{guidanceLocation}</if>
            <if test="guidanceTime != null ">AND smr.guidance_time = #{guidanceTime}</if>
            <if test="summaryFilePath != null and summaryFilePath != ''">AND smr.summary_file_path = #{summaryFilePath}</if>
            <if test="photoPaths != null and photoPaths != ''">AND smr.photo_paths = #{photoPaths}</if>
            <if test="semester != null and semester != ''">AND smr.semester = #{semester}</if>
            <if test="submitTime != null ">AND smr.submit_time = #{submitTime}</if>
            <if test="studentComment != null and studentComment != ''">AND smr.student_comment = #{studentComment}</if>
            <if test="auditStatus != null and auditStatus != ''">AND smr.audit_status = #{auditStatus}</if>
            <if test="auditTime != null ">AND smr.audit_time = #{auditTime}</if>
            <if test="auditRemark != null and auditRemark != ''">AND smr.audit_remark = #{auditRemark}</if>
        </where>
        ORDER BY
        CASE audit_status
        WHEN '未提交' THEN 0    -- 未审核排最前
        WHEN '未通过' THEN 1    -- 未审核排最前
        WHEN '未审核' THEN 2    -- 未通过其次
        WHEN '已通过' THEN 3    -- 已通过最后
        ELSE 4                 -- 其他状态（如果有）
        END,
        submit_time DESC
    </select>

    <select id="selectAuditMentorshipRecordList" parameterType="StuMentorshipRecord" resultMap="StuMentorshipRecordResult2">
        SELECT
        smr.*,
        si.student_name,
        t.tutor_name,
        t.tutor_id
        FROM
        stu_mentorship_record smr
        LEFT JOIN
        stu_info si ON smr.student_id = si.student_id
        LEFT JOIN
        stu_mentor_info smi ON smr.student_id = smi.student_id
        LEFT JOIN
        tutors t ON smi.tutor_id = t.tutor_id
        <where>
            <if test="studentId != null and studentId != ''">AND si.student_id = #{studentId}</if>
            <if test="studentName != null and studentName != ''">AND si.student_Name = #{studentName}</if>
            <if test="tutorId != null and tutorId != ''">AND t.tutor_id = #{tutorId}</if>
            <if test="guidanceTopic != null and guidanceTopic != ''">AND smr.guidance_topic = #{guidanceTopic}</if>
            <if test="guidanceLocation != null and guidanceLocation != ''">AND smr.guidance_location = #{guidanceLocation}</if>
            <if test="guidanceTime != null ">AND smr.guidance_time = #{guidanceTime}</if>
            <if test="summaryFilePath != null and summaryFilePath != ''">AND smr.summary_file_path = #{summaryFilePath}</if>
            <if test="photoPaths != null and photoPaths != ''">AND smr.photo_paths = #{photoPaths}</if>
            <if test="semester != null and semester != ''">AND smr.semester = #{semester}</if>
            <if test="submitTime != null ">AND smr.submit_time = #{submitTime}</if>
            <if test="studentComment != null and studentComment != ''">AND smr.student_comment = #{studentComment}</if>
            <if test="auditStatus != null and auditStatus != ''">AND smr.audit_status = #{auditStatus}</if>
            <if test="auditTime != null ">AND smr.audit_time = #{auditTime}</if>
            <if test="auditRemark != null and auditRemark != ''">AND smr.audit_remark = #{auditRemark}</if>
                    AND audit_status != '未提交'
        </where>
        ORDER BY
        CASE audit_status
        WHEN '未审核' THEN 0    -- 未审核排最前
        WHEN '未通过' THEN 1    -- 未通过其次
        WHEN '已通过' THEN 2    -- 已通过最后
        ELSE 3                 -- 其他状态（如果有）
        END,
        submit_time DESC
    </select>

    <select id="selectStuMentorshipRecordByRecordId" parameterType="Integer" resultMap="StuMentorshipRecordResult">
        <include refid="selectStuMentorshipRecordVo"/>
        where record_id = #{recordId}
    </select>

    <select id="searchTutorId" resultType="java.lang.String">
        SELECT
            smi.tutor_id
        FROM
            stu_mentorship_record smr
                LEFT JOIN
            stu_mentor_info smi ON smr.student_id = smi.student_id
        WHERE smr.student_id = #{studentId}
        limit 1
    </select>

    <insert id="insertStuMentorshipRecord" parameterType="StuMentorshipRecord" useGeneratedKeys="true" keyProperty="recordId">
        insert into stu_mentorship_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId != null and studentId != ''">student_id,</if>
            <if test="guidanceTopic != null and guidanceTopic != ''">guidance_topic,</if>
            <if test="guidanceLocation != null">guidance_location,</if>
            <if test="guidanceTime != null">guidance_time,</if>
            <if test="summaryFilePath != null">summary_file_path,</if>
            <if test="photoPaths != null">photo_paths,</if>
            <if test="semester != null and semester != ''">semester,</if>
            <if test="submitTime != null">submit_time,</if>
            <if test="studentComment != null">student_comment,</if>
            <if test="auditStatus != null">audit_status,</if>
            <if test="auditTime != null">audit_time,</if>
            <if test="auditRemark != null">audit_remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentId != null and studentId != ''">#{studentId},</if>
            <if test="guidanceTopic != null and guidanceTopic != ''">#{guidanceTopic},</if>
            <if test="guidanceLocation != null">#{guidanceLocation},</if>
            <if test="guidanceTime != null">#{guidanceTime},</if>
            <if test="summaryFilePath != null">#{summaryFilePath},</if>
            <if test="photoPaths != null">#{photoPaths},</if>
            <if test="semester != null and semester != ''">#{semester},</if>
            <if test="submitTime != null">#{submitTime},</if>
            <if test="studentComment != null">#{studentComment},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="auditRemark != null">#{auditRemark},</if>
        </trim>
    </insert>

    <update id="updateStuMentorshipRecord" parameterType="StuMentorshipRecord">
        update stu_mentorship_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentId != null and studentId != ''">student_id = #{studentId},</if>
            <if test="guidanceTopic != null and guidanceTopic != ''">guidance_topic = #{guidanceTopic},</if>
            <if test="guidanceLocation != null">guidance_location = #{guidanceLocation},</if>
            <if test="guidanceTime != null">guidance_time = #{guidanceTime},</if>
            <if test="summaryFilePath != null">summary_file_path = #{summaryFilePath},</if>
            <if test="photoPaths != null">photo_paths = #{photoPaths},</if>
            <if test="semester != null and semester != ''">semester = #{semester},</if>
            <if test="submitTime != null">submit_time = #{submitTime},</if>
            <if test="studentComment != null">student_comment = #{studentComment},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            audit_time = #{auditTime},
            <if test="auditRemark != null">audit_remark = #{auditRemark},</if>
        </trim>
        where record_id = #{recordId}
    </update>

    <delete id="deleteStuMentorshipRecordByRecordId" parameterType="Integer">
        delete from stu_mentorship_record where record_id = #{recordId}
    </delete>

    <delete id="deleteStuMentorshipRecordByRecordIds" parameterType="String">
        delete from stu_mentorship_record where record_id in
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>
    <select id="existsByUniqueFields" resultType="boolean">
        SELECT COUNT(1)
        FROM stu_mentorship_record
        WHERE
            student_id = #{studentId} AND
            guidance_topic = #{guidanceTopic} AND
            guidance_location = #{guidanceLocation} AND
            guidance_time = #{guidanceTime} AND
            semester = #{semester}
            LIMIT 1
    </select>
</mapper>